.mapPreviewcontainer {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.zoom-control {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    z-index: 1000; /* Ensure it appears above other elements */
}

.zoom-control button,
.draw-polygon-button button {
    height: 25px; /* Same height */
    width: 25px; /* Same width */
    display: flex; 
    align-items: center; 
    justify-content: center; 
    cursor: pointer; 
    background-color: white; /* Background color white */
    color: black; /* Text color black */
    border: 1px solid #ccc; /* Optional: Add a border for better visibility */
    margin: 2px; 
}

.draw-polygon-button {
    position: absolute;
    top: 60px; /* Adjust this as needed to align vertically */
    right: 10px; /* Align with zoom control */
    z-index: 1000; /* Ensure it appears above other elements */
    margin-top: 5px; 
}

